#about {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
  padding: auto;
}

#about-content {
  display: flex;
  align-items: center;
  flex: auto;
  margin: auto;
  flex-shrink: inherit;
}

#about-text {
  color: black;
  height: 75vh;
  font-size: 1.25vw;
}

#about-photo {
  height: 75vh;
  flex-shrink: inherit;
  overflow: hidden;
}

.resume {
  text-align: center;
}

#resume {
  color: whitesmoke;
  background-color: #998888;
}

#resume:hover {
  opacity: 50%;
}
