.social-list {
  list-style: none;
  display: inline-flex;
  flex-direction: row-reverse;
  float: right;
}

#contact-container {
  padding: 1em;
  margin: 2em auto;
  height: 215px;
}

#contact-btn {
  margin: auto;
}