#projects {
  background-image: url("https://images.unsplash.com/photo-1585504303156-6173f4fc7756?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects-container {
  background-color: #998888;
  padding: 75px;
  text-align: center;
}

#projects-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-content: space-between;
}

.project-item {
  margin: 1em 0em 1em 0em;
}

.project-link {
  color: #77878b;
  text-decoration: none;
}

.project-link:hover {
  color: #77878b;
  text-decoration: none;
  opacity: 50%;
}
