#projects {
  background-image: url("https://images.unsplash.com/photo-1585504256862-71490c55257d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
  z-index: 1;
}

#projects-container {
  background-color: #998888;
  height: 100%;
  padding: 1em;
  text-align: center;
  flex-shrink: inherit;
}

#projects-list {
  list-style: none;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin: 0;
}

.project-item {
  margin: 1em;
  display: block;
  flex-shrink: inherit;
}

#css-creature,
#static-layout,
#api-1,
#api-2 {
  
  flex-shrink: inherit;
}

.card {
  width: 15em;
  height: 17em;
}

.project-link {
  color: #77878b;
  text-decoration: none;
}

.project-link:hover {
  color: #77878b;
  text-decoration: none;
  opacity: 50%;
}