:root {
    /* --red: #e80d0d;
    --orange: #f98500; */
    --blue: #0071b2;
    --grey: #53565a;
    --brown: #8c7a51;
    /* --slate:; */
    --yellow: #ffc600;
    /* --green: #10a503; */
    --blue-green: #0ed6a4;
    --black: #272727;

    --font-one: 'Andada', serif;
    --font-two: 'Bevan', serif;
    --font-three: 'Noto Serif SC', serif;
    --font-four: 'Sarabun', sans-serif;
    --font-five: 'Baskerville', serif;

}